/*
#1d8954
#ffffff
#191414
*/

body, li, a {
  color: #ffffff !important;
  background-color: #050609 !important;
}

nav, a{
  background-color: #39A2AE !important;
}

img {
  border-radius: 5%;
}

h1 {
  font-size: 3.2em;
}

h2 {
  text-align: center;
}

li {
  border: none !important;
}

li:hover {
  color: #39A2AE !important;
}

a {
  text-decoration: none !important;
}

svg {
  color: #ffffff !important;
}

svg:hover {
  color: #050609 !important;
}

.navbar-toggler {
  border-color: #39A2AE !important;
}

.cropped {
  width: 64px; 
  height: 64px;
  object-fit: cover;
}

.footer {
  background-color:#39A2AE;
  padding: 15px 0px 15px 0px;
}

.logo-img {
  margin: 0px 13px 13px 13px;
}

.greentext {
  color: #39A2AE;
  font-size: 20px !important;
}

.greenbg {
  background-color: #39A2AE !important;
  padding: 12px;
  font-size: 18px !important;
}

.brand-size {
  font-size: 18px !important;
}

.login-button {
  font-size: 20px !important;
  border-color: #050609;
}

.nav:hover {
  color: #050609 !important;
  cursor: pointer;
}

p, a {
  font-size: 16px !important;
}

.btn-clr {
  background-color: #B486AB;
  color: #050609
}

.btn-clr:hover {
  color: #ffffff;
}