/*
#1d8954
#ffffff
#191414
*/

body, li, a {
  color: #ffffff !important;
  background-color: #050609 !important;
}

nav, a{
  background-color: #39A2AE !important;
}

nav {
  font-weight: bold;
}

img {
  border-radius: 10%;
}

h1 {
  font-size: 3.2em;
  font-weight: bold;
}

li {
  border: none !important;
}

li:hover {
  color: #B486AB !important;
}

a {
  text-decoration: none !important;
}

svg {
  color: #ffffff !important;
}

svg:hover {
  color: #050609 !important;
}

.navbar-toggler {
  border-color: #39A2AE !important;
}

.cropped {
  width: 64px; 
  height: 64px;
  object-fit: cover;
}

.footer {
  background-color:#39A2AE;
  padding: 15px 0px 15px 0px;
}

.logo-img {
  margin: 0px 13px 13px 13px;
}

.greentext {
  color: #B486AB;
  font-size: 20px !important;
}

.greenbg {
  background-color: #39A2AE !important;
  padding: 12px;
  font-size: 18px !important;
}

.brand-size {
  font-size: 18px !important;
}

.login-button {
  font-size: 20px !important;
  font-weight: bold;
  color: #050609 !important;
}

.login-button:hover {
  color: #ffffff !important;
}

.nav:hover {
  color: #050609 !important;
  cursor: pointer;
}

p, a {
  font-size: 16px !important;
}

.btn-clr {
  background-color: #B486AB;
  color: #050609;
  font-weight: bold;
}

.btn-clr:hover {
  color: #ffffff;
}

.btn-clr:active {
  background-color: #39A2AE;
}

.demo_img {
  border-radius: 1%;
}

.artist_size {
  font-size: 18px !important;
}

.h2_p_left {
  padding-left: 30px;
}

.h2_main {
  padding-left: 30px;
  font-weight: bold;
  font-size: 2.3em;
}

.logo_cursor {
  padding-left: 10px;
  cursor: default
}