body, li {
  color: #ffffff !important;
  background-color: #000000 !important;
}

p, a {
  font-size: 16px !important;
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

a:hover {
  color: #000000
}

nav {
  background-color: #39A2AE !important;
  font-weight: bold;
}

img {
  border-radius: 10%;
}

h1 {
  font-size: 3.2em;
  font-weight: bold;
}

li {
  border: none !important;
}

li:hover {
  color: #39A2AE !important;
}

svg {
  color: #ffffff !important;
}

svg:hover {
  color: #000000 !important;
}

.navbar-toggler {
  border-color: #39A2AE !important;
}

.cropped {
  width: 64px; 
  height: 64px;
  object-fit: cover;
}

.footer {
  background-color:#B486AB;
  padding: 15px 0px 15px 0px;
}

.footer_text {
  background-color: #B486AB;
}

.logo-img {
  margin: 0px 13px 13px 13px;
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.logo-img:hover {
  filter: invert(0%) !important;
  -webkit-filter: invert(0%) !important;
}

.greentext {
  color: #39A2AE;
  font-size: 20px !important;
}

.greenbg {
  background-color: #39A2AE !important;
  padding: 12px;
  font-size: 18px !important;
}

.brand-size {
  font-size: 18px !important;
}

.login-button {
  font-size: 20px !important;
  font-weight: bold;
  color: #000000 !important;
  background-color: #B486AB
}

.login-button:hover {
  color: #ffffff !important;
  background-color: #B486AB;
}

.nav:hover {
  color: #000000 !important;
  cursor: pointer;
}

.btn-clr {
  background-color: #B486AB;
  color: #000000;
  font-weight: bold;
}

.btn-clr:hover {
  color: #ffffff;
}

.demo_img {
  border-radius: 1%;
}

.artist_size {
  font-size: 18px !important;
}

.h2_p_left {
  padding-left: 2%;
}

.h2_main {
  padding-left: 20px;
  font-weight: bold;
  font-size: 4vh;
}

.logo_cursor {
  padding-left: 2%;
  cursor: default
}

.logo_cursor:hover {
  color: #ffffff;
}