@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #000;
    background: radial-gradient(circle at 10% 20%, #b8860b, transparent 50%),
        radial-gradient(circle at 60% 80%, #ba2c73, transparent 50%),
        radial-gradient(circle at 90% 10%, #312f2f, transparent 50%),
        radial-gradient(circle at 30% 50%, #276fbf, transparent 50%),
        radial-gradient(circle at 80% 40%, #339989, transparent 50%);
    background-size: 200% 200%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
