name: "Issue/PR Labeler"
on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]
    
permissions:
  issues: write
  contents: read

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: github/issue-labeler@v3.3 #May not be the latest version
      with:
        configuration-path: .github/labeler.yml
        not-before: "2020-01-15T02:54:32Z"
        enable-versioned-regex: 0
        repo-token: ${{ github.token }}
